<div class="svg-content">
  <h3>These shapes are rendered using SVG with Color: {{colorData}}</h3>
  <svg width="400" height="250">
    <circle class="svg-circle" cx="50" cy="50" [attr.r]=cRadius 
        [attr.stroke]=strokeColor stroke-width="4" 
        [attr.fill]=colorData 
        (click)="clickSVGCircle($event)"
    />
    <polygon class="svg-polygon" 
        points="120,10 220,10 220,100 120,100"
        [attr.stroke-width]=strokeWidth
        [attr.stroke]=strokeColor [attr.fill]=colorData 
        (mousedown)="SVGPolygon($event)"
        (mouseup)="SVGPolygon($event)"
    />
    Sorry, your browser does not support inline SVG.
  </svg>
</div>
