.box-selection {
    margin-top: 5px;
}

.color {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    float: left;
}

.green, .blue {
    margin-left: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}